<div class="mb-4">
  <%= link_to article_path(@article), class: 'btn btn-outline' do %>
    <i class="fas fa-arrow-left"></i> Back to article
  <% end %>
</div>

<div class="article p-4">
  <h1>Edit Article</h1>
  <%= render 'form', article: @article %>
</div> 