<div class="mb-4">
  <%= link_to articles_path, class: 'btn btn-outline' do %>
    <i class="fas fa-arrow-left"></i> Back to articles
  <% end %>
</div>

<div class="article p-4">
  <h1>New Article</h1>
  <%= render 'form', article: @article %>
</div> 